<a href="https://colab.research.google.com/github/IA-MindGo/colab/blob/main/assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Declare a variable student_id with a value of 101 (integer) and a variable grades with a list containing three integers: 85, 90, 92. Print the value and type of both variables using the type() function.

In [ ]:
student_id:int = 101
grades:list = [85, 90, 92]
print(type(student_id),"Student id is ",student_id)
print(type(grades),"Grades are ",grades)

<class 'int'> Student id is  101
<class 'list'> Grades are  [85, 90, 92]

Create a variable price with a value of 19.99 (float) and a variable dimensions with a tuple containing two floats: 5.5, 3.2. Print the value and type of both variables.

In [ ]:
price:float=19.99
dimention:tuple=(5.5,3.2)
print(type(price),"Price is ",price)
print(type(dimention),"Dimention is ",dimention)

<class 'float'> Price is  19.99
<class 'tuple'> Dimention is  (5.5, 3.2)

Declare a variable complex_value with a complex number 2 + 3j and a variable numbers with a range from 1 to 5 (i.e., range(1, 5)). Print the value and type of both variables.

In [ ]:
complex_value:complex=2+3j
numbers:range=range(1,5)
print(type(complex_value),"Complex value is ",complex_value)
print(type(numbers),"Numbers are ",list(numbers))

<class 'complex'> Complex value is  (2+3j)
<class 'range'> Numbers are  [1, 2, 3, 4]

Create a variable is_active with a boolean value True and a variable unique_ids with a set containing three integers: 1, 2, 3. Print the value and type of both variables.

In [ ]:
is_active:bool=True
unique_ids:set={1,2,3}
print(type(is_active),"Is active is ",is_active)
print(type(unique_ids),"Unique ids are ",unique_ids)

<class 'bool'> Is active is  True
<class 'set'> Unique ids are  {1, 2, 3}

 Declare a variable status with a string "Active" using single quotes and a variable fixed_colors with a frozenset containing two strings: "red", "blue". Print the value and type of both variables.

In [ ]:
status:str='Active'
fixed_colors=frozenset(['red','blue'])
print(type(status),"Status is ",status)
print(type(fixed_colors),"Fixed colors are ",fixed_colors)

<class 'str'> Status is  Active
<class 'frozenset'> Fixed colors are  frozenset({'blue', 'red'})

  Create a variable country with a string "Canada" using double quotes and a variable cities with a list containing two strings: "Toronto", "Vancouver". Print the value and type of both variables.

In [ ]:
country:str="Canada"
cities:list=['Toronto', 'Vancouver']
print(type(country),"Country is ",country)
print(type(cities),"Cities are ",cities)

<class 'str'> Country is  Canada
<class 'list'> Cities are  ['Toronto', 'Vancouver']

  Declare a variable motto with a string "Keep it simple" using triple single quotes and a variable coordinates with a tuple containing three integers: 10, 20, 30. Print the value and type of both variables.

In [ ]:
motto:str='''Keep it simple'''
coordinates:tuple=(10,20,30)
print(type(motto),"Motto is ",motto)
print(type(coordinates),"Coordinates are ",coordinates)

<class 'str'> Motto is  Keep it simple
<class 'tuple'> Coordinates are  (10, 20, 30)

Create a variable quantity with a value of 50 (integer) and a variable tags with a set containing two strings: "urgent", "new". Print the value and type of both variables.

In [ ]:
quantity:int=50
tags:set={'urgent', 'new'}
print(type(quantity),"Quantity is ",quantity)
print(type(tags),"Tags are ",tags)

<class 'int'> Quantity is  50
<class 'set'> Tags are  {'urgent', 'new'}

Declare a variable distance with a value of 42.5 (float) and a variable steps with a range from 0 to 10 with a step of 2 (i.e., range(0, 10, 2)). Print the value and type of both variables.

In [ ]:
distance:float=42.5
steps:range=range(0,10,2)
print(type(distance),"Distance is ",distance)
print(type(steps),"Steps are ",list(steps))

<class 'float'> Distance is  42.5
<class 'range'> Steps are  [0, 2, 4, 6, 8]

Create a variable note with a multi-line string using triple double quotes:  
    
    Meeting at 9 AM
    Bring notebook
      
    and a variable locked_values with a frozenset containing three integers: 100, 200, 300. Print the value and type of both variables.

In [ ]:
note:str="""
Meeting at 9 AM
Bring notebook"""
locked_values=frozenset([100,200,300])
print(type(note),"Note ",note)
print(type(locked_values),"Locked values are ",locked_values)
#

<class 'str'> Note
Meeting at 9 AM
Bring notebook
<class 'frozenset'> Locked values are  frozenset({200, 100, 300})