<a href="https://colab.research.google.com/github/IA-MindGo/colab/blob/main/Assignment_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a list of string numbers: ["10", "20", "30"].
Convert each to integers, add 5, and store the results in a new tuple.
Use a loop to print each value with its data type.
Use a dictionary to store the original and updated values.
Apply a conditional (if-else) to mark values greater than 25.

In [ ]:
numbers = ["10", "20", "30"]
updated_numbers = []
dictionary={}
for num in numbers:
  num1 = int(num)
  num2 = num1 + 5
  updated_numbers.append(num2)
  dictionary[num]=num2
tuple_numbers = (updated_numbers)
for i in range(len(numbers)):
  print(f"\nThe value is {numbers[i]} of {type(numbers[i])} and updated value is {updated_numbers[i]} of {type(updated_numbers[i])}")
  if updated_numbers[i] > 25:
    print(f"\t\tThe updated number {updated_numbers[i]} is greater than 25")
  else:
    print(f"\t\tThe updated number {updated_numbers[i]} is less than 25")
print("\nValues in dictionary:")
print(dictionary)

The value is 10 of <class 'str'> and updated value is 15 of <class 'int'>
		The updated number 15 is less than 25

The value is 20 of <class 'str'> and updated value is 25 of <class 'int'>
		The updated number 25 is less than 25

The value is 30 of <class 'str'> and updated value is 35 of <class 'int'>
		The updated number 35 is greater than 25

Values in dictionary:
{'10': 15, '20': 25, '30': 35}

 Ask the user for their name, age (as string), and city.
Convert age to an integer using type casting.
Store this info in a dictionary and a tuple.
If the age is 18 or more, print "Eligible" else "Not eligible".
Print all details using a loop.

In [ ]:
name=str(input("Enter your name: "))
age=str(input("Enter your age: "))
city=str(input("Enter your city: "))
age_int=int(age)
info={"name":name,"age":age_int,"city":city}
info_tuple=(name,age_int,city)
if age_int>=18:
  print("\n\tEligible")
else:
  print("\n\tNot eligible")
print("\nValues in dictionary along their repective data type are:\n ")
for key,value in info.items():
  print(f"\t{key} : {value} ({type(value).__name__})")

Enter your name: isma
Enter your age: 36
Enter your city: rahwali

	Eligible

Values in dictionary along their repective data type are:

	name : isma (str)
	age : 36 (int)
	city : rahwali (str)

Define a list of student scores as strings: ["45", "78", "89", "32"].
Convert them to integers using casting.
Use a for loop to classify scores as "Pass" or "Fail" using if-else.
Store results in a dictionary where keys are scores and values are statuses.
Print each with data type using print() and type().

In [ ]:
scores = ["45", "78", "89", "32"]
new_scores =[]
info_scores={}
for i in range(len(scores)):
  scores_int=int(scores[i])
  new_scores.append(scores_int)
  if new_scores[i]>=40:
    status="Pass"
  else:
    status="Fail"
  print(f"{new_scores[i]} is of type {type(new_scores[i]).__name__} and status is {status}")
  info_scores[new_scores[i]]=status
print("\nValues in dictionary along their repective data type are:\n")
print(info_scores)

45 is of type int and status is Pass
78 is of type int and status is Pass
89 is of type int and status is Pass
32 is of type int and status is Fail

Values in dictionary along their repective data type are:

{45: 'Pass', 78: 'Pass', 89: 'Pass', 32: 'Fail'}

. Create a tuple of 3 values: a name (string), an age (string), and a score (string).
Convert age and score to integer and float respectively.
Perform arithmetic operation on score (add 5).
Store updated info in a dictionary and print all using a loop and control flow.

In [ ]:
value_tuple = ("fatima", "12", "89")
name, age_str, score_str = value_tuple
age_int = int(age_str)
score_float = (float(score_str))+5
info={"name" : name , "age" : age_int , "score" : score_float}
for key , value in info.items():
  print(key,":", value, f", and is of type {(type(value).__name__)}")
  if key == "score":
    if value > 90:
      print("\tExcellent Score!")
    elif value > 70:
      print("\tGood Score.")
    else:
      print("\tNeeds Improvement.")

name : fatima , and is of type str
age : 12 , and is of type int
score : 94.0 , and is of type float
	Excellent Score!

Define a list of names.
Use a for loop to count names with more than 4 letters.
Create a dictionary storing name and its length.
Use type(), casting if needed, and if-elif-else to label lengths as "short", "medium", or "long".

In [ ]:
names = ["isma", "talha", "shan", "ali", "rashid", "iqra",200]
names_dict={}
for i in range(len(names)):
  if type(names[i])==str:
    length=len(names[i])
  else:
    length=len(str(names[i]))
  names_dict[names[i]]=length
print("values in dictionary along their repective data type are:\n")
print("Name  \tLength  \tStatus  \tType\n")
for key,value in names_dict.items():
  if value <4:
    status="short"
  elif value >4 and value <10:
    status="medium"
  else:
    status="long"
  print( key,"\t", value, f"\t\t{status} \t\t{(type(key).__name__)}\n")

values in dictionary along their repective data type are:

Name  	Length  	Status  	Type

isma 	 4 		long 		str

talha 	 5 		medium 		str

shan 	 4 		long 		str

ali 	 3 		short 		str

rashid 	 6 		medium 		str

iqra 	 4 		long 		str

200 	 3 		short 		int

 Ask user to input product names and prices (as strings).
Convert prices to float, store them in a dictionary.
Print all using a loop, and use if to highlight items over a certain price.
Create a tuple of all high-price items and print their types.

In [ ]:
product = {}
prices :str = []
high_price_item = []
while True:
  product_name = (input("\nEnter the product name: (or '''done''' to finish)"))
  if product_name.lower() == "done":
    break
  prices.append(input(f"Enter the price of {product_name}: "))
  for i in prices:
    prices_float=float(i)
    product[product_name]=prices_float
print("\n--- Products and Prices ---")
for product, price in product.items():
  print(f"{product}: ${price:.2f}")
  if price > 50.0:
    high_price_item.append(product)
print("\n--- High Price Items Tuple ---")
print("Tuple of high price items is : ",tuple(high_price_item))
print("\nType of high_price_tuple:", type(tuple(high_price_item)))
for item in high_price_item:
  print(f"\nType of item '{item}': {type(item)}")

Enter the product name: (or '''done''' to finish)rice
Enter the price of rice: 60

Enter the product name: (or '''done''' to finish)tea
Enter the price of tea: 55

Enter the product name: (or '''done''' to finish)soap
Enter the price of soap: 25

Enter the product name: (or '''done''' to finish)biscuit
Enter the price of biscuit: 15

Enter the product name: (or '''done''' to finish)done

--- Products and Prices ---
rice: $60.00
tea: $55.00
soap: $25.00
biscuit: $15.00

--- High Price Items Tuple ---
Tuple of high price items is :  ('rice', 'tea')

Type of high_price_tuple: <class 'tuple'>

Type of item 'rice': <class 'str'>

Type of item 'tea': <class 'str'>

Make a list of mixed data types: ["100", 200, 300.5, "400"].
Convert all to float using type casting.
Use a for loop with if-else to check if each number is above 250.
Store results in a dictionary with "Above 250" or "Below 250" labels.

In [ ]:
mixed_data = ["100", 200, 300.5, "400"]
float_data = []
result_dict = {}
for item in mixed_data:
  float_data.append(float(item))
for num in float_data:
  if num > 250:
    result_dict[num] = "Above 250"
  else:
    result_dict[num] = "Below 250"
print("Float numbers with '''above 250''' and '''below 250''' label in dictionary are :\n\n",result_dict)

Float numbers with '''above 250''' and '''below 250''' label in dictionary are :

 {100.0: 'Below 250', 200.0: 'Below 250', 300.5: 'Above 250', 400.0: 'Above 250'}

Define a tuple of values like ("Ali", "25", "True").
Convert age to int, and boolean string to actual boolean.
Create a dictionary from the tuple using keys like name, age, is_student.
Use a loop to print each key-value pair.
Use if-else to comment on whether the person is a student.

In [ ]:
student = ("Ali", "25", "True")
name, age_str, is_student_str = student
age = int(age_str)
is_student = bool(is_student_str)
student_dict = {"name": name, "age": age, "is_student": is_student}
for key, value in student_dict.items():
  print(f"{key}: {value}")
  if key == "is_student":
    if value is True:
      print("\tThe person is a student.")

name: Ali
age: 25
is_student: True
	The person is a student.

Store subject names and their string scores in a dictionary.
Convert scores to integers, calculate total and average.
Use for loop and if-elif-else to assign grades.
Store grades in a tuple and print using print() and type().

In [ ]:
student = {"Mathematics":"90", "Physics":"80", "Chemistery":"75", "Biology":"85"}
scores =[]
for value in student.values():
  scores.append(int(value))
total = sum(scores)
average = total/len(scores)
grades = []
for score in scores:
  if score >= 90:
    grade = "A"
  elif score >= 80:
    grade = "B"
  elif score >= 70:
    grade = "C"
  elif score >= 60:
    grade = "D"
  else:
    grade = "F"
  grades.append(grade)
print(f"Sum of scores: {total}")
print(f"\nAverage of scores: {average}")
print("\nGrades of each subject:",tuple(grades))
print("\nType of grades:",type(tuple(grades)))
for i in range(len(student)):
  print(f"\nGrade of {list(student.keys())[i]} is {grades[i]}")

Sum of scores: 330

Average of scores: 82.5

Grades of each subject: ('A', 'B', 'C', 'B')

Type of grades: <class 'tuple'>

Grade of Mathematics is A

Grade of Physics is B

Grade of Chemistery is C

Grade of Biology is B

Create a program where user inputs 5 items as strings (e.g., names of gadgets).
Add them to a list, convert one index to uppercase using string method.
Store prices in another list, calculate total using arithmetic operators.
Pair names and prices into a dictionary.
Use a loop to print all data and use if to flag expensiveÂ items.

In [ ]:
# prompt: Create a program where user inputs 5 items as strings (e.g., names of gadgets). Add them to a list, convert one index to uppercase using string method. Store prices in another list, calculate total using arithmetic operators. Pair names and prices into a dictionary. Use a loop to print all data and use if to flag expensive items.

gadget_names = []
gadget_prices = []
total_price = 0

print("Enter 5 gadget names and their prices:")

for i in range(5):
  name = input(f"Enter name for gadget {i+1}: ")
  gadget_names.append(name)
  price = float(input(f"Enter price for {name}: "))
  gadget_prices.append(price)

# Convert one name to uppercase (e.g., the first one)
if gadget_names:
  gadget_names[0] = gadget_names[0].upper()

# Calculate total price
for i in range(5):
  total_price += gadget_prices[i]

# Pair names and prices into a dictionary
gadget_info = dict(zip(gadget_names, gadget_prices))

print("\n--- Gadget Information ---")
for name, price in gadget_info.items():
  print(f"{name}: ${price:.2f}")
  if price > 50: # Example threshold for expensive items
    print("\t\t(Expensive Item!)")

print(f"\nTotal price of all gadgets: ${total_price:.2f}")

Enter 5 gadget names and their prices:
Enter name for gadget 1: Smart watch
Enter price for Smart watch: 100
Enter name for gadget 2: I pad
Enter price for I pad: 95
Enter name for gadget 3: Power bank
Enter price for Power bank : 50
Enter name for gadget 4: Wireless headphones
Enter price for Wireless headphones : 45
Enter name for gadget 5: Bluetooth speaker
Enter price for Bluetooth speaker : 40

--- Gadget Information ---
SMART WATCH: $100.00
		(Expensive Item!)
I pad: $95.00
		(Expensive Item!)
Power bank : $50.00
Wireless headphones : $45.00
Bluetooth speaker : $40.00

Total price of all gadgets: $330.00