<a href="https://colab.research.google.com/github/IA-MindGo/colab/blob/main/Assignmnent_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Create two variables with the same string literal and verify whether they have the same memory ID using id() function.

In [ ]:
str1:str="Welcome"
str2:str="Welcome"
print("The memory id for the first variable is ",id(str1))
print("The memory id for the second variable is ",id(str2))

The memory id for the first variable is  138578905558768
The memory id for the second variable is  138578905558768
The memory id of 2 variables is same  True

Create a string and another string by appending an empty string ("") to it. Check if both have the same ID.

In [ ]:
name:str="Learning-Python"
name1:str=name+""
print("The memory id for the first variable is ",id(name))
print("The memory id for the second variable is ",id(name1))
print("The memory id of 2 variables is same ",(name is name1))

The memory id for the first variable is  138578904508720
The memory id for the second variable is  138578904508720
The memory id of 2 variables is same  True

Given a string "Python is amazing. Python is powerful.", replace all occurrences of "Python" with "AI".

In [ ]:
string:str="Python is amazing. Python is powerful."
print(string.replace("Python","AI"))

AI is amazing. AI is powerful.

 In the string "Learn Python. Python is easy. Python is everywhere.", find the index of:  
- First "Python",  
- Second "Python",  
- Third "Python".

In [ ]:
string:str="Learn Python. Python is easy. Python is everywhere."

print("""Length of the string\n Learn Python. Python is easy. Python is everywhere\nis""",len(string))

first_index=string.find("Python")
print("\nThe first occurance of Python is ",first_index)

second_index=first_index+len("Python")
print("The second occurance of Python is ",string[second_index:].find("Python")+second_index)

third_index=second_index+len("Python")
print("The third occurance of Python is ",string[third_index:].find("Python")+third_index)

Length of the string
 Learn Python. Python is easy. Python is everywhere
is 51

The first occurance of Python is  6
The second occurance of Python is  14
The third occurance of Python is  30

Print the Unicode characters for A, B, and C using \u escape sequences.

In [ ]:
print("The unicode character for \u0041 is",r"\u0041")
print("The unicode character for \u0042 is",r"\u0042")
print("The unicode character for \u0043 is",r"\u0043")

The unicode character for A is \u0041
The unicode character for B is \u0042
The unicode character for C is \u0043

Take a user input string and print its reverse using slicing.

In [ ]:
user_input:str=input("Enter the string\n")
print("\nThe reverse of the string is \n",user_input[::-1])

Enter the string
welcome

The reverse of the string is
 emoclew

Using f-string, create a formatted report showing:  
- Student name,  
- Marks in three subjects,  
- Average marks (calculate inside the f-string).

In [ ]:
student_name="Ali"
subject1:int=80
subject2:int=70
subject3:int=60

print(f"The marks sheet of\n \tstudent {student_name} \n is\n\t Physics {subject1},\n\tChemistry {subject2},\n\t Biology {subject3}\n and\n Avrage marks {(subject1+subject2+subject3)/3} ")

The marks sheet of
 	student Ali
 is
	 Physics 80,
	Chemistry 70,
	 Biology 60
 and
 Avrage marks 70.0

Create two variables with the same string literal and verify whether they have the same memory ID using id() function. (duplicate — but I kept as you sent it)

In [ ]:
var1:str="Python"
var2:str="Python"
print("The memory id for the first variable is ",id(var1))
print("The memory id for the second variable is ",id(var2))

The memory id for the first variable is  9739968
The memory id for the second variable is  9739968

Create a string and another string by appending an empty string ("") to it. Check if both have the same ID. (duplicate — kept)

In [ ]:
s1="Python"
s2=s1+""
print("The memory id for the first string is ",id(s1))
print("The memory id for the second string is ",id(s2))
print("The memory id for 2 strings are same ",(s1 is s2))

The memory id for the first string is  9739968
The memory id for the second string is  9739968
The memory id for 2 strings are same  True

Create two identical long strings (more than 20 characters) and print whether they are stored at the same memory location.

In [ ]:
st1="Python is a powerful tool in AI"
str2="Python is a powerful tool in AI"
print("The memory id for the first string is ",id(st1))
print("The memory id for the second string is ",id(str2))
print("\nThe memory location of both strings are same ",(str1 is str2))

The memory id for the first string is  138578904854368
The memory id for the second string is  138578904854288

The memory location of both strings are same  False

Manually intern a long string using sys.intern() and verify if two interned strings have the same ID.

In [ ]:
import sys

str1=sys.intern("Python is a powerful tool in AI")
str2=sys.intern("Python is a powerful tool in AI")
print("The memory id for the first string is ",id(str1))
print("The memory id for the second string is ",id(str2))
print("\nThe memory location of both interned strings are same ",(str1 is str2))

The memory id for the first string is  138578904336864
The memory id for the second string is  138578904336864

The memory location of both interned strings are same  True

Concatenate two string variables dynamically and compare if the resulting string is the same object as a hardcoded string with the same content.

In [ ]:
s1="PakistanZindabad"
s2="Pakistan"
s3="Zindabad"
s4=s2+s3
print("The hardcoded string is \n",s1)
print("\nThe concatenated string is \n",s4)
print("The original string and resulting strings are same: ",s4 is s1)

The hardcoded string is
 PakistanZindabad

The concatenated string is
 PakistanZindabad
The original string and resulting strings are same:  False

Write a program to print only the methods of string class that do not start with double underscores (__) using dir() and list comprehension.

In [ ]:
string_methods: str = dir(str)

filtered_methods: str = [method for method in string_methods if not method.startswith("__")]

filtered_methods

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

Take a string input from the user and repeat it 5 times using string multiplication. Print the result.

In [ ]:
user_input:str=input("Enter the string\n")
print("\nThe repeated string is \n",user_input*5)

Enter the string
python

The repeated string is
 pythonpythonpythonpythonpython

 Create a pattern using a for loop that prints increasing number of # symbols per line (right-angled triangle).

In [ ]:
for i in range(1,6):
  print('#'*i)

#
##
###
####

Compare two strings "apple" and "banana" using all four comparison operators (==, !=, <, >) and print the results.

In [ ]:
s1="apple"
s2="banana"
print(f"{s1}=={s2}",s1==s2)
print(f"{s1}!={s2}",s1!=s2)
print(f"{s1}<{s2}",s1<s2)
print(f"{s1}>{s2}",s1>s2)

apple==banana False
apple!=banana True
apple<banana True
apple>banana False

Write a Python program that takes two strings and tells which one comes first alphabetically.

In [ ]:
s1=input("Enter the first string\n")
s2=input("Enter the second string\n")
if s1==s2:
  print("Both strings are equal")
elif s1<s2:
  print(f"{s1} comes first alphabetically")
else:
  print(f"{s2} comes first alphabetically")

Enter the first string
hello
Enter the second string
apple
apple comes first alphabetically

Write a Python program to convert an integer num = 25 into a float and print the result.

In [ ]:
num:int=25
print("The float value of ",num," is ",float(num))

The float value of  25  is  25.0

Given num_str = "456", convert it into an integer, add 10 to it, and print the final value.

In [ ]:
num_str:str="456"
num:int=int(num_str)
a=num+10
print("The integer value of ",num_str," is ",a)

The integer value of  456  is  466

Convert the float value = 12.99 to an integer. Print both the original float and the converted integer.

In [ ]:
float_value:float=12.99
int_value:int=int(float_value)
print("The original float value is ",float_value)
print("\nThe converted integer value is ",int_value)

The original float value is  12.99

The converted integer value is  12

Create two variables a = 7 (int) and b = 3.2 (float), add them, and print the result along with its data type.

In [ ]:
a:int=7
b:float=3.2
print("The sum of ",a," and ",b," is ",a+b)
print("The data type of addition of two numbers ",a,"and",b, "is " ,type(a+b))

The sum of  7  and  3.2  is  10.2
The data type of addition of two numbers  7 and 3.2 is  <class 'float'>

Print the result of converting True and False into integers.

In [ ]:
a:bool=True
b:bool=False
print("The integer value of ",a," is ",int(a))
print("The integer value of ",b," is ",int(b))

The integer value of  True  is  1
The integer value of  False  is  0

Given a list my_list = [1, 2, 2, 3, 4, 4, 5], convert it into a set and print it.

In [ ]:
my_list=[1,2,2,3,4,4,5]
print("The set of the list is ",set(my_list))

The set of the list is  {1, 2, 3, 4, 5}

Convert the string "15.67" into a float, then multiply it by 2 and print the result.

In [ ]:
string:str="15.67"
num=float(string)
product=num*2
print("The float value of ",string," is ",num)
print("\nThe product of ",num," and 2 is ",product)

The float value of  15.67  is  15.67

The product of  15.67  and 2 is  31.34

Given a tuple info = ('Agentic', 'AI', 2025), convert it into a list and print.

In [ ]:
info=('Agentic','AI',2025)
print(type(info))
print("The list of the tuple is ",list(info))

<class 'tuple'>
The list of the tuple is  ['Agentic', 'AI', 2025]

Convert the following list into a dictionary: pairs = [('name', 'Agentic AI'), ('year', 2025)].

In [ ]:
pairs=[('name','Agentic AI'),('year',2025)]
print("The dictionary of the list is ",dict(pairs))

The dictionary of the list is  {'name': 'Agentic AI', 'year': 2025}

 Create a complex number from an integer n = 8 using the complex() function, then print its real part and imaginary part separately.

In [ ]:
n=8
complex_number=complex(n)
print("The complex number is ",complex_number)
print("The real part of the complex number is ",complex_number.real)
print("The imaginary part of the complex number is ",complex_number.imag)

The complex number is  (8+0j)
The real part of the complex number is  8.0
The imaginary part of the complex number is  0.0