<a href="https://colab.research.google.com/github/IA-MindGo/colab/blob/main/Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create two variables a = 10 and b = 3. Perform and print the results of addition, subtraction, multiplication, division, modulus, exponentiation, and floor division.

In [ ]:
a=10
b=3
print("The result of addition of variables 'a=10' and 'b=3' is",a+b)
print("the results of subtraction of variables 'a=10' and 'b=3' is ",a-b)
print("the result of multiplication of variables 'a=10' and 'b=3' is ",a*b)
print("The result of division of variables 'a=10' and 'b=3' is ",a/b)
print("The result of modulus of variables 'a=10' and 'b=3' is ",a%b)
print("The result of exponentiation of variables 'a=10' and 'b=3' is ",a**b)
print("The result of floor division of variables 'a=10' and 'b=3' is ",a//b)

The result of addition of variables 'a=10' and 'b=3' is 13
the results of subtraction of variables 'a=10' and 'b=3' is  7
the result of multiplication of variables 'a=10' and 'b=3' is  30
The result of division of variables 'a=10' and 'b=3' is  3.3333333333333335
The result of modulus of variables 'a=10' and 'b=3' is  1
The result of exponentiation of variables 'a=10' and 'b=3' is  1000
The result of floor division of variables 'a=10' and 'b=3' is  3

 Compare the variables a and b using all comparison operators (==, !=, >, <, >=, <=) and print the results.

In [ ]:
a=10
b=3
print("a == b = ", a == b)
print("a != b = ", a != b)
print("a > b  = ", a > b)
print("a < b = ", a < b)
print("a >= b = ", a >= b)
print("a <= b = ", a <= b)

a == b =  False
a != b =  True
a > b  =  True
a < b =  False
a >= b =  True
a <= b =  False

Create two boolean variables x = True and y = False. Perform and print the results of x and y, x or y, and not x.

In [ ]:
x: bool = True
y: bool = False

print("x and y = ", x and y)
print("x or y  = ", x or y)
print("not x   = ", not x)

x and y =  False
x or y  =  True
not x   =  False

Create a variable num = 5. Use +=, -=, *=, /=, %=, **=, and //= assignment operations on it and print the result each time.

In [ ]:
num=5

num= 5
print("Assignment: num = ",num)

num+= 3
print("Addition Assignment: num += 3  =  ",num)

num -= 3
print("Subtraction Assignment: num -= 3    =",num)

num *= 3
print("Multiplication Assignment: num*= 3   = ",num)

num /= 3
print("Division Assignment: num /= 3      =",num)

num//= 3
print("Floor Division Assignment: num //= 3  = ",num)

Assignment: num =  5
Addition Assignment: num += 3  =   8
Subtraction Assignment: num -= 3    = 5
Multiplication Assignment: num*= 3   =  15
Division Assignment: num /= 3      = 5.0
Floor Division Assignment: num //= 3  =  1.0

Create two variables m = 100 and n = 100. Check if they are the same object using is and is not and print the results.

In [ ]:
m=100
n=100

a=m is n
b=m is not n
print("m is n     =  ",a)
print("m is not n     =  ",b)

m is n     =   True
m is not n     =   False

 Create a string text = "Python Programming". Check if "Python" is in the text and if "Java" is not in the text.

In [ ]:
text="Python Programming"
print("check Python is in the text ","Python" in text)
print("check Java is not in the text ","Java" not in text)

check Python is in the text  True
check Java is not in the text  True

Write a Python program to print all keywords using the keyword module.

In [ ]:
import keyword

print("the list of keywords in Python programming is :",keyword.kwlist)

the list of keywords in Python programming is : ['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

Declare three variables name = "Ali", age = 20, height = 5.9 and print their values along with their data types.

In [ ]:
name="Ali"
age=20
heigh=5.9
print(type(name),"name=",name )
print(type(age),"age=",age )
print(type(heigh),"heigh=",heigh )

<class 'str'> name= Ali
<class 'int'> age= 20
<class 'float'> heigh= 5.9

 Write five valid variable names and three invalid ones (as comments). Explain why the invalid ones are not allowed.

In [ ]:
print("5 valid  variables names are:","\n")
print("name","\n")
print("_age","\n")
print("heigh5","\n")
print("my_subject","\n")
print("_my_name_1","\n")

print("3 in_valid variables names are:")
print("class","\n","it is a resrevword","\n\n")
print("1name","\n","starting with digit","\n\n")
print("my-name","\n","cannot contain hyphen","\n\n")

5 valid  variables names are:

name

_age

heigh5

my_subject

_my_name_1

3 in_valid variables names are:
class
 it is a resrevword


1name
 starting with digit


my-name
 cannot contain hyphen

Create variables with special naming styles: _hidden = 5, __private = 10, MAX_SIZE = 100. Print them.

In [ ]:
_hidden=5
__private=10
MAX_SIZE=100
print("_hidden=",_hidden)
print("__private=",__private)
print("MAX_SIZE=",MAX_SIZE)

_hidden= 5
__private= 10
MAX_SIZE= 100

 Assign values x = 1, y = 2, z = 3 in a single line and print them.

In [ ]:
x,y,z=1,2,3
print("the values of variables 'x,y,z' are: ",x,y,z)

the values of variables 'x,y,z' are:  1 2 3

Assign the same value 0 to three variables a, b, and c in one line and print them.

In [ ]:
a=b=c=0
print("the values of variables 'a,b,c' are: ",a,b,c)

the values of variables 'a,b,c' are:  0 0 0

 Create a variable temp = 100, print it, delete it using del, and then try to print it again to observe the error.

In [ ]:
temp=100
print("the value of variable 'temp' is: ",temp)
del temp
print("the value of variable 'temp' is: ",temp)

the value of variable 'temp' is:  100

NameError: name 'temp' is not defined

Create a string variable using triple single quotes ('''Hello''') and print it.

In [ ]:
a='''Hello'''
print(a)

Hello

. Create a multi-line string using triple double quotes ("""This is line one.\nThis is line two.""") and print it.

In [ ]:
x="""This is line one.\n This is line two"""
print(x)

This is line one.
 This is line two

Use the type() function to print the data type of each of the following: an integer, a float, a string, and a boolean.

In [ ]:
print(type(10))
print(type(10.5))
print(type("hello"))
print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

Create a variable score = 85. Check if the score is greater than 50 and less than 100 using a logical expression. Print the result.

In [ ]:
score=85
print("check score is greater than 50 and less than 100",(score>50) and (score<100))

check score is greater than 50 and less than 100 True

Create a string message = "Welcome to Python". Use the in and not in operators to check the presence of the word "Python".

In [ ]:
message="Welcome to Python"
print("check Python is in the message ","Python" in message)
print("check python is not in the message ","Python" not in message)

check Python is in the message  True
check python is not in the message  False

Write a code block using only comments to explain what your program is doing.

In [ ]:
#code block of above program
#declaring a variable of type string and assigning the value Welcome to Python in double quotes.
#checking that the value is in the sequence and print the result.
#checking that the value is nit in the sequence and print the result.

Create a variable data = 123. Use the id() function to print its memory address.

In [ ]:
data=123
print("the memory address of variable 'data' is: ",id(data))

the memory address of variable 'data' is:  10754760