<a href="https://colab.research.google.com/github/IA-MindGo/colab/blob/main/assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Declare a variable name age and assign it an integer value of 25.
print the value of age and its data type using the type function.

In [ ]:
age :int=25
print(type(age),"Age=",age)

<class 'int'> Age= 25

create a variable called temprature and assign it a float value of 98.6.
print the value of temprature and its data type.

In [ ]:
temprature:float=98.6
print(type(temprature),"temprature=",temprature)

<class 'float'> temprature= 98.6

declare a variable named complex_num and assign it a complex number with real part 3 and imaginary part 4 (i.e 3+4j).
print the value of  complex_num and its data type.

In [ ]:
complex_num:complex=3+4j
print(type(complex_num),"complex_num=",complex_num)

<class 'complex'> complex_num= (3+4j)

create a variable name is_student and assign it a boolean value True.
print the value of is_student and its data type.

In [ ]:
is_student:bool=True
print(type(is_student),"the value of 'is_student=' is",is_student)

<class 'bool'> the value of 'is_student=' is True

Declare a variable has_job and assign it a boolean value false.print the value of has_job and its data type.

In [ ]:
has_job:bool=False
print(type(has_job),"the value of 'has_job=' is",has_job)

<class 'bool'> the value of 'has_job=' is False

Create a variable greeting and assign it the string 'Hello' using single quotes. print the value of greeting and its data type.

In [ ]:
greeting:str='Hello'
print(type(greeting),"THe value of 'greeting' is",greeting)

<class 'str'> THe value of 'greeting' is Hello

declare a variable name city and assign it the string "New York" using double quotes.print the value of city and its data type.

In [ ]:
city :str="New York"
print(type(city),"City is",city)

<class 'str'> City is New York

create a variable quote and assign it the string 'Life is short' using triple single quotes.
print the value of quote and its data type.

In [ ]:
quote :str='''
Life is short'''
print(type(quote))
print("Qoute is",quote)

<class 'str'>
Qoute is
Life is short

Declare a variable called poem and assign it a multi-line string using triple double quotes with the text:
Roses are red,
Violets are blue.
print the value of poen and its data type.

In [ ]:
poem :str="""
Roses are red,
Violets are blue."""
print(type(poem),"Poem is",poem)

<class 'str'> Poem is
Roses are red,
Violets are blue.

score as an integer with value 95, height as a float with value 5.9 and name as a string with value "Alice" using double quotes.
print the value and data type of each variable.

In [ ]:
score :int=95
height :float=5.9
name :str="Alice"
print(type(name),"Name is ",name)
print(type(height),"Height = ",height)
print(type(score),"Score = ",score)

<class 'str'> Name is  Alice
<class 'float'> Height =  5.9
<class 'int'> Score =  95