<a href="https://colab.research.google.com/github/IA-MindGo/colab/blob/main/Assignment_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Print numbers from 1 to 10.

In [ ]:
print("Numbers from 1 to 10.")
for i in range(1,11):
  print(i)

Numbers from 1 to 10.
1
2
3
4
5
6
7
8
9
10

Print all even numbers between 1 and 20.

In [ ]:
print("Even numbers between 1 and 20.")
for i in range(2,21,2):
  print(i)

Even numbers between 1 and 20.
2
4
6
8
10
12
14
16
18
20

 Print all odd numbers between 1 and 15.

In [ ]:
print("All odd numbers between 1 and 15.")
for i in range(1,16,2):
  print(i)

All odd numbers between 1 and 15.
1
3
5
7
9
11
13
15

Print numbers from 10 to 1 in reverse order.

In [ ]:
print("Numbers from 1 to 10 in reverse order.")
for i in range(10,0,-1):
  print(i)

Numbers from 1 to 10 in reverse order.
10
9
8
7
6
5
4
3
2
1

Print the multiplication table of 7.

In [ ]:
print("Multiplication table of 7.")
for i in range(1,11):
  print(f"7 x {i} = {7*i}")

Multiplication table of 7.
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Ask the user for a number and print its table up to 12.

In [ ]:
num=int(input("Enter a number: "))
print(f"Multiplication table of {num}.")
for i in range(1,13):
  print(f"{num} x {i} = {num*i}")

Enter a number: 10
Multiplication table of 10.
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100
10 x 11 = 110
10 x 12 = 120

Print the sum of numbers from 1 to 50.

In [ ]:
print("Sum of numbers from 1 to 50.")
sum=0
for i in range(1,51):
  sum+=i
print(f"Sum = {sum}")

Sum of numbers from 1 to 50.
Sum = 1275

Print the product (multiplication result) of numbers from 1 to 10.

In [ ]:
print("Product of numbers from 1 to 10.")
product=1
for i in range(1,11):
  product*=i
print(f"Product = {product}")

Product of numbers from 1 to 10.
Product = 3628800

Print each character in the string "Learning" one by one.

In [ ]:
a="Learning"
print("Each character in the string 'Learning' one by one.")
for i in a:
  print(i)

Each character in the string 'Learning' one by one.
L
e
a
r
n
i
n
g

 Print all items of the list ["pen", "pencil", "eraser"] using a loop.

In [ ]:
a=["pen","pencil","eraser"]
print("All items of the list are ")
for i in a:
  print(i)

All items of the list are
pen
pencil
eraser

Print numbers from 1 to 10 but skip number 5.

In [ ]:
num=1
print("Numbers from 1 to 10 but skip number 5.")
while num<=10:
  if num==5:
    num+=1
    continue
  print(num)
  num+=1

Numbers from 1 to 10 but skip number 5.
1
2
3
4
6
7
8
9
10

Print numbers from 1 to 10 and stop when number 7 is reached.

In [ ]:
num=1
print("Numbers from 1 to 10 and stop when number 7 is reached.")
while num<=10:
  if num==7:
    break
  print(num)
  num+=1

Numbers from 1 to 10 and stop when number 7 is reached.
1
2
3
4
5
6

 Ask the user for a word and print each letter on a new line.

In [ ]:
a=input("Enter a word: ")
print(f"Letters are.")
for i in a:
  print(i)

Enter a word: python
Letters are.
p
y
t
h
o
n

Count how many vowels are in the word "education" using a loop.

In [ ]:
count=0
word="education"
b=["a","e","i","o","u"]
for i in word:
  if i in b:
    count+=1
print(f"Number of vowels in the word \'{word}\' are: ",count)

Number of vowels in the word 'education' are:  5

 Ask the user to enter 5 numbers and print the sum of all entered numbers.

In [ ]:
sum=0
for i in range(5):
  num=int(input("Enter a number: "))
  sum+=num
print(f"Sum of all entered numbers is: {sum}")

Enter a number: 9
Enter a number: 10
Enter a number: 10
Enter a number: 20
Enter a number: 20
Sum of all entered numbers is: 69

 Print the square of numbers from 1 to 10.

In [ ]:
print("Square of numbers from 1 to 10 are:")
for i in range(1,11):
  print(f"Square of {i} is: {i**2}")

Square of numbers from 1 to 10 are:
Square of 1 is: 1
Square of 2 is: 4
Square of 3 is: 9
Square of 4 is: 16
Square of 5 is: 25
Square of 6 is: 36
Square of 7 is: 49
Square of 8 is: 64
Square of 9 is: 81
Square of 10 is: 100

 Print this pattern using a loop:

 *

 **

 ***

 ****

In [ ]:
for i in range(1,5):
  print("*"*i)

*
**
***
****

Create a list of numbers and print only the numbers greater than 5.

In [ ]:
num=[12,23,34,56,2,3,4,6,9]
print("List of numbers is :",num)
print("Numbers greater than 5 are:")
for i in num:
  if i>5:
    print(i)

List of numbers is : [12, 23, 34, 56, 2, 3, 4, 6, 9]
Numbers greater than 5 are:
12
23
34
56
6
9

Use a loop to print the first 10 multiples of 3.

In [ ]:
print("First 10 multiples of 3 are:")
for i in range(1,11):
  print(f"3 x {i} = {3*i}")

First 10 multiples of 3 are:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

 Print the factorial of a number given by the user.

In [ ]:
print("To find factorial of a number\n")
num=input("Enter the number:")
fact=1
for i in range(1,int(num)+1):
  fact*=i
print(f"\nFactorial of {num} is: {fact}")

To find factorial of a number

Enter the number:6

Factorial of 6 is: 720