<a href="https://colab.research.google.com/github/IA-MindGo/colab/blob/main/Python_Crash_Course_Ch2_Ch3_Practice_ISMA_AMJAD_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

                                                               ASSIGNMENT#15

create a variable called 'greeting' and store any message. print it.

In [ ]:
greeting = "Welcome to python"
print(greeting)

Welcome to python

update the value of greeting and print it.

In [ ]:
greeting="Welcome to python"
print(greeting)
greeting=greeting.replace("Welcome to python","congratulation")
print(greeting)

Welcome to python
congratulation

create two variables first_name and last_name and combine them in full name using f-string.

In [ ]:
first_name = "isma"
last_name = "amjad"
print(f"Full name is {first_name} {last_name}")

Full name is isma amjad

Print a famous quote with author’s name using f-string.

In [ ]:
quote="If you can change your mind, you can change your life."
author="William james"
print(f"{quote}\n \t\t\t {author}")

If you can change your mind, you can change your life.
 			 William james

Store a name with extra spaces, strip them, and print clean output.

In [ ]:
name="  isma amjad   "
name=name.strip( )
print(f"Name without extra spaces is \n{name}")

Name without extra spaces is
isma amjad

Take a number, add 5, multiply by 2, subtract 3, and print the result.

In [ ]:
num=10
result=(num+5)*2-3
print(f"The result is {result}")

The result is 27

Create a and b; print their sum, difference, product, and quotient.

In [ ]:
a=200
b=35
print(f"The sum is {a+b}")
print(f"The difference is {a-b}")
print(f"The product is {a*b}")
print(f"The quotient is {a/b}")

The sum is 235
The difference is 165
The product is 7000
The quotient is 5.714285714285714

Find square and cube of a number using ** operator.

In [ ]:
a=5
print(f"The square of {a} is {a**2} and The cube is {a**3}")

The square of 5 is 25 and The cube is 125

Add three floating-point numbers and print the total.

In [ ]:
f1=35.4
f2=36.7
f3=565.0
print(f"The total is {f1+f2+f3}")

The total is 637.1

Assign x, y, z in one line and print them.

In [ ]:
x,y,z=10,20,30
print(f"The value of x is {x}, y is {y} and z is {z}")

The value of x is 10, y is 20 and z is 30

 Create a list of 5 favorite fruits and print each one separately.

In [ ]:
fruits=["Apple","cherry","banana","kiwi","mango"]
for fruit in fruits:
  print(fruit)

Apple
cherry
banana
kiwi
mango

Modify the 2nd item in the list and print the updated list.

In [ ]:
fruits=["Apple","cherry","banana","kiwi","mango"]
fruits[1]="orange"
print(fruits)

['Apple', 'orange', 'banana', 'kiwi', 'mango']

Append a new fruit and insert one at the beginning.

In [ ]:
fruits=["Apple","cherry","banana","kiwi","mango"]
fruits.append("orange")
fruits.insert(0,"grapes")
print(fruits)

['grapes', 'Apple', 'cherry', 'banana', 'kiwi', 'mango', 'orange']

 Delete items using del, pop(), and remove().

In [ ]:
fruits=["Apple","cherry","banana","kiwi","mango"]
del fruits[1]
print(f"list of fruits after using del function is \n{fruits}")
fruits.pop(2)
print(f"\nlist of fruits after using pop function is \n{fruits}")
fruits.remove("mango")
print(f"\nlist of fruits after using remove function is \n{fruits}")

list of fruits after using del function is
['Apple', 'banana', 'kiwi', 'mango']

list of fruits after using pop function is
['Apple', 'banana', 'mango']

list of fruits after using remove function is
['Apple', 'banana']

Use sort() and sorted() to sort the list. Show before and after.

In [ ]:
list=[1,3,5,6,4,2,33.9,67.0]
print(f"The list before using sort function is \n{list}")
list.sort()
print(f"\nThe list after using sort function is \n{list}")
print(f"\nThe list before using sorted function is \n{list}")
sorted(list)
print(f"\nThe list after using sorted function is \n{list}")

The list before using sort function is
[1, 3, 5, 6, 4, 2, 33.9, 67.0]

The list after using sort function is
[1, 2, 3, 4, 5, 6, 33.9, 67.0]

The list before using sorted function is
[1, 2, 3, 4, 5, 6, 33.9, 67.0]

The list after using sorted function is
[1, 2, 3, 4, 5, 6, 33.9, 67.0]

Create a list of dream travel destinations:
  - Sort alphabetically
  - Reverse the order
  - Count total destinations

In [ ]:
destination=["saudi arabia","Switzerland","japan","china","kawit"]
print(f"The destination list is\n \t\t\t{destination}")
print(f"The sorted list is \n\t\t\t{sorted(destination)} ")
print(f"\nThe reverse list is \n\t\t\t{destination[::-1]}")
print(f"\nThe total destinations in the list are \n {len(destination)}")

The destination list is
 			['saudi arabia', 'Switzerland', 'japan', 'china', 'kawit']
The sorted list is
			['Switzerland', 'china', 'japan', 'kawit', 'saudi arabia']

The reverse list is
			['kawit', 'china', 'japan', 'Switzerland', 'saudi arabia']

The total destinations in the list are
 5

Start with an empty guest list:
  - Append 3 guests
  - Insert 1 at the beginning
  - Remove one using pop()
  - Print final list

In [ ]:
guests=[]
guests.append("isma")
guests.append("talha")
guests.append("fatimah")
print(f"The guests list after appending 3 guests member is \n{guests}")
guests.insert(0,"rashid")
print(f"\nThe guests list after inserting one new member at the start  is \n{guests}")
guests.pop(1)
print(f"\nThe final list after using pop function is \n{guests}")

The guests list after appending 3 guests member is
['isma', 'talha', 'fatimah']

The guests list after inserting one new member at the start  is
['rashid', 'isma', 'talha', 'fatimah']

The final list after using pop function is
['rashid', 'talha', 'fatimah']

Access the last 3 elements of a list without negative indexing.

In [ ]:
num=[23,34,56,77,54,33,21]
l=len(num)
print(f"The last 3 elements of the list are \n{num[l-3:l]}")

The last 3 elements of the list are
[54, 33, 21]

From a list of numbers, print only even numbers.

In [ ]:
number=[2,4,5,6,7,8,9,3,1,88,76,55,33,11]
print(f"The even numbers in the list are \n")
for i in number:
  if(i%2==0):
    print(i)

The even numbers in the list are

2
4
6
8
88
76

Print squares of the first 10 natural numbers in a list.

In [ ]:
natural_number=[1,2,3,4,5,6,7,8,9,10]
print(f"The of first 10 natural numbers in the list are:\n")
for i in natural_number:
  print(i**2)

The of first 10 natural numbers in the list are:

1
4
9
16
25
36
49
64
81
100

Ask the user for 5 favorite movies.

Store them in a list.

Print them sorted alphabetically.

In [ ]:
movies=[]
for i in range(1,6):
  movie=input(f"{i}. Enter your favorite movie :\n")
  movies.append(movie)
print(f"\nThe movies list without sort is \n{movies}")
print("Movies name in sorted order are:")
print(sorted(movies))

1. Enter your favorite movie :
race1
2. Enter your favorite movie :
race2
3. Enter your favorite movie :
race3
4. Enter your favorite movie :
dhoom 1
5. Enter your favorite movie :
dhoom2

The movies list without sort is
['race1', 'race2', 'race3', 'dhoom 1', 'dhoom2']
Movies name in sorted order are:
['dhoom 1', 'dhoom2', 'race1', 'race2', 'race3']